<div *ngIf="animal" class="detail-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{animal.name}}</mat-card-title>
      <mat-card-subtitle>{{animal.animalType}}</mat-card-subtitle>
    </mat-card-header>

    <div ngSwitch="{{animal.image}}">
      <img mat-card-image src="assets/placeholder-300x202.jpg" alt="placeholder of an animal"
           *ngSwitchCase="animal.image === 'null'">
      <img mat-card-image src="data:image/jpg;base64,{{animal.image}}"  alt="Photo of an animal" *ngSwitchCase="animal.image">
    </div>
    <mat-card-content>
      <p>
        Eats: {{animal.foodType}}
        <br>
        Description: {{animal.description}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="isDetail">
      <button type="button" (click)="delete(animal.id)" mat-mini-fab color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
