<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['add']">Add animal</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" [routerLink]="['chat']">Chat Room</a>
      </li>
    </ul>
    <span class="navbar-text" *ngIf="auth.authenticated">User logged in, welcome {{auth.user.userName}}</span>
    <div ngSwitch="{{auth.authenticated}}">
      <button *ngSwitchCase="'true'" mat-raised-button color="primary" (click)="logout()"
              style="margin-left: 15px;">
        Logout
      </button>
      <button *ngSwitchCase="'false'" mat-raised-button color="primary" [routerLink]="['login']"
              style="margin-left: 15px;">
        Login
      </button>
    </div>

  </div>
</nav>
<div class="flex-container">
  <router-outlet></router-outlet>
</div>
