<h2>Add animal</h2>
<form class="form-container" [formGroup]="animalFrom" (ngSubmit)="save()" novalidate>
  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput name="name" type="text" formControlName="name">
  </mat-form-field>
  <p *ngIf="animalFrom.controls.name?.errors" class="mat-error">{{animalFrom.controls.name.errors.errorMsg }}</p>

  <mat-form-field appearance="fill">
    <mat-label>Animal types</mat-label>
    <mat-select name="animalType" formControlName="animalType">
      <mat-option *ngFor="let animalType of animalTypes" [value]="animalType">{{animalType}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p *ngIf="animalFrom.controls.animalType?.errors"
     class="mat-error">{{animalFrom.controls.animalType.errors.errorMsg}}</p>

  <div *ngFor="let form_elem of formTemplate">
    <div [ngSwitch]="form_elem.type">
      <div *ngSwitchCase="'textBox'">
        <input type="text" formControlName="{{form_elem.label}}"/>
      </div>
      <div *ngSwitchCase="'number'">
        <input type="number" formControlName="{{form_elem.label}}"/>
      </div>
      <div *ngSwitchCase="'select'">
        <select formControlName="{{form_elem.label}}">
          <option *ngFor="let opt of form_elem.options">
            {{opt}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <button type="button" mat-button color="warn" (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    Upload image
  </button>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
       style="display:none;"/>
<div *ngIf="showDetails">
  <app-animal-detail [id]="animalId" (deleteEvent)="deleteAnimal($event)"></app-animal-detail>
</div>
