<h2>Animal list</h2>

<table class="table table-responsive-sm table-striped mat-elevation-z7 table-sm" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Animal Type</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let animal of animals | async">
    <th scope="row">{{ animal.id }}</th>
    <td>{{animal.name}}</td>
    <td>{{animal.animalType}}</td>
    <td>
      <button (click)="delete(animal.id)" *ngIf="authService.authenticated" color="warn" mat-mini-fab type="button">
        <mat-icon>delete</mat-icon>
      </button>
      <button [routerLink]="['detail', animal.id]" color="primary" mat-mini-fab type="button">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2" *ngIf="pageable != undefined">
  <ngb-pagination
    [(page)]="pageable.pageNumber" [collectionSize]="(total | async)!" (pageChange)="getPage()" [pageSize]="pageable.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>

  <select [(ngModel)]="pageable.pageSize" class="custom-select" name="pageSize" style="width: auto" (ngModelChange)="getPage()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
    <option [ngValue]="20" selected>20 items per page</option>
    <option [ngValue]="50" selected>50 items per page</option>
  </select>
</div>
