tbody {
  display: block;
  overflow: auto;
  height: 400px;
}

table , tr{
  width: 50rem;
}

thead tr {
  display: table;
  table-layout: fixed;
}

thead, tbody tr {
  display: table;
  table-layout: fixed;
}
